<section class="md-8">
	<div class="container">
		<div class=" row justify-content-center">
			<div class="col-12 d-flex justify-content-center">

				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section class="pt-8 pt-md-11">
	<div class="container">
		<div class="row justify-content-center">
			<div
				class="col-12 col-md-10 col-lg-9 col-xl-8">
				<!-- BOUTON TRIGGER MODALE -->
				<h2 class="text-center">Commentaires</h2>

				<div class="row">
					<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#commentaire">Laisser un commentaire</button>
				</div>

				<div class="modal fade" id="commentaire" tabindex="-1" aria-labelledby="commentaire" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Votre commentaire</h5>
								<button
									type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">{# <span aria-hidden="true">&times;</span> #}
								</button>
							</div>

							{# MODALE #}
							<div class="modal-body">
								{{ form(form)}}
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
