{% extends 'base.html.twig' %}

{% block body %}
	<section class="pt-10 pt-md-10">

		<div class="row justify-content-center">
			<div class="col-4">
				<h2 class="card-title">A propos</h2><br>
				<p
					class="card-text">
					<!-- start slipsum code -->
				 Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.	Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
				</p>
				<p class="card-text">
					<small class="text-muted">J. Aguado</small>
				</p>
			</div>
			<div class="col-6">
				<div class="col-8">
					<img src="/img2/jose-detoure.png" class="img-fluid rounded-start" alt="...">
				</div>
			</div>
		</div>
	</section>

{% endblock %}
