{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
 <section>
<a class="navbar-brand" href="/"
        <img src="/img2/jose.jpg" alt="logoAGP">
</a>
 <div class="container">
    <div class="row">

        <div class="col-12 col-md-7">
            <blockquote class="blockquote mb-0">
            <p class="h2 text-white">
            Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
            </p>
            <footer class="blockquote-footer text-white-50 mb-0">
            <h3>José Aguado</h3>
            </footer>
            </blockquote>
        </div>
    </div>
</div>
</section>
{% endblock %}





