{% extends 'base.html.twig' %}

{% block body %}

{% for realisation in realisations %}
	{% if realisation.attachments is not empty %}

		{% for key,attachment in realisation.attachments %}
			<div class="carousel-inner">
					<div data-slide-to="{{ key }}" {% if key == 0 %} 
					class="card-img-slider-active" {% endif %} 
						<img src="{{ vich_uploader_asset(attachment, 'image') }}" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5>{{ realisation.nom }}</h5>
					</div>
				</div>
			</div>
		{% endfor %}
		
	{% endif %}
{% endfor %}

		<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Prédécent</span>
		</a>
		<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Suivant</span>
		</a>
	</div>
{% endblock %}
