{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}

	<!-- CONTENT -->
	<section>

		<!-- Content -->
		<div class="container d-flex flex-column">
			<div class="row align-items-center justify-content-between gx-0 min-vh-100">
				<div
					class="col-12 col-md-5 align-self-stretch">
					<!-- Image (mobile) -->
					<img
					src="img2/story/Ilustration_story_4x.png" class="d-md-none img-cover fluid" alt="...">
					<!-- Image -->
					<div class="d-none d-md-block vw-50 h-100 float-end bg-cover imgcontact" style="background-image: url(img2/story/Ilustration_story_4x.png);"></div>
				</div>

				<div
					class="col-12 col-md-6 py-8 py-md-11">
					<!-- Heading -->
					<h2 class="fw-bold text-center mb-2">
						Contactez-nous!
					</h2>
					<!-- Text -->
					<p class="fs-lg text-center text-muted mb-0">
						Notre devis en moins d'une journée.
					</p>
					<!-- Divider -->
					<hr
					class="hr-lg my-6 my-md-8 mx-auto bg-gray-300">
					<!-- Form -->
					<form>
							{% for message in app.flashes('success') %}
								<div class="alert alert-success mt-4">
									{{ message }}
								</div>
							{% endfor %}
						<div class="form-group mb-5">
							{{ form(form) }}
						</div>
					</form>
						<!-- / .row -->
				</div>
			</div>
		</div>
	</section>


		{% endblock %}
