{% extends 'base.html.twig' %}

{% block body %}
<!-- BREADCRUMB -->
<nav class="bg-gray-200">
	<div class="container">
		<div class="row">
			<div
				class="col-12">

				<!-- Breadcrumb -->
				<ol class="breadcrumb breadcrumb-scroll">
					<li class="breadcrumb-item">
						<a href="{{ path('home')}}" class="text-gray-700">
							Accueil
						</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						<a href="{{ path('contact')}}" class="text-gray-700">
							Contact</a>
					</li>
				</ol>
			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</nav>

<!-- CONTENT -->
<section>
	<div class="container d-flex flex-column">
		<div class="row align-items-center justify-content-between gx-0 min-vh-100">

			<div class="col-12 col-md-5 align-self-stretch">
				<img src="/img2/jose/IMG-20221008-WA0007.jpg" class="d-md-none img-cover" alt="femme-ecrit">
							<!-- Image -->
				<div class="d-none d-md-block vw-50 h-100 float-end bg-cover" style="background-image: url(/img2/jose/IMG-20221008-WA0007.jpg);"></div>
			</div>

			<div class="col-12 col-md-6 py-8 py-md-11">
				<div
					class="card-body">
					<!-- Heading -->
					<h1 class="row justify-content-center mt-5">
						VOTRE DEVIS:
					</h1>
					<!-- Text -->
					<p class="mb-0 text-center">
					Nous vous l'enverrons en moins d'une journée.
					</p><br>
					<!-- Form -->
					<div class="form-floating">
						{% for message in app.flashes('success') %}
							<div class="alert alert-success mt-4">
								{{ message }}
							</div>
						{% endfor %}
						<div class="form-group mb-0">
							{{ form(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
