{% extends 'base.html.twig' %}

{% block body %}
<!-- BREADCRUMB -->
    <nav class="bg-gray-200">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-scroll">
              <li class="breadcrumb-item">
                <a href= "{{ path('home')}}" class="text-gray-700">
                  Accueil
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
              <a href= "{{ path('contact')}}" class="text-gray-700">
                Contact</a>
              </li>
            </ol>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </nav>

	<!-- CONTENT -->
	<section class="pt-7 pt-md-10 pb-7 pb-md-10">
		<!-- Content -->
		<div class="container d-flex flex-column">
			<div class="row align-items-center justify-content-between gx-0 min-vh-100">
				<div
					class="col-12 col-md-5 align-self-stretch">
					<!-- Image (mobile) -->
					<img
					src="img2/story/Ilustration_story_4x.png" class="d-sm-none img-cover fluid" alt="...">
					<!-- Image -->
					<div class="d-none d-md-block vw-50 h-100 float-end bg-cover" style="background-image: url(img2/story/Ilustration_story_4x.png);"></div>
				</div>

				<div
					class="col-12 col-md-6 py-8 py-md-11">
					<!-- Heading -->
					<h2 class="fw-bold text-center mb-2">
						Contactez-moi!
					</h2>
					<!-- Text -->
					<p class="fs-lg text-center text-muted mb-0">
						Notre devis en moins d'une journée.
					</p>
					<!-- Divider -->
					<hr>
					<div class="hr-lg my-6 my-md-8 mx-auto bg-gray-300">
					<!-- Form -->
							{% for message in app.flashes('success') %}
								<div class="alert alert-success mt-4">
									{{ message }}
								</div>
							{% endfor %}
					</div>
						<div class="form-group mb-5">
							{{ form(form) }}
						</div>
					
						<!-- / .row -->
				</div>
			</div>
		</div>
	</section>


		{% endblock %}
