{% extends 'base.html.twig' %}

{% block body %}

<h2>Email : {{ contact.email }}</h2>
<h3>Sujet : {{ contact.subject }}</h3>
<p>Message :</p>
    <div>
        {{ contact.message|raw }}
    </div>

{% endblock %}
