
	<div class="row justify-content-center">
		<div id="carouselExampleCaptions" class="carousel slide" style="background-color:#656f82", data-bs-ride="carousel" data-bs-interval="4000">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 6"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 6"></button>
					</div>

					<div class="carousel-inner" style="opacity:0.5">
						<div class="carousel-item drk active">
							<div class="slide1">
								<img src="/img2/AdobeStock_144007478_parquet_escabaud.jpg" class=" d-block w-100" alt=" parquet">
							</div>
						</div>

						<div class="carousel-item drk">
							<div class="slide2">
								<img src="/img2/AdobeStock_174984648_pinceaux_escabaud.jpg" class=" d-block w-100" alt=" pinceaux">
							</div>
						</div>

						<div class="carousel-item drk">
							<div class="slide3">
								<img src="/img2/AdobeStock_216970582_precouche.jpg"	class=" d-block w-100" alt=" precouche">
							</div>
						</div>

						<div class="carousel-item drk">
							<div class="slide4">
								<img src="/img2/AdobeStock_245750838_blanc_sur_jaune.jpg" class="d-block w-100" alt=" blanc-sur-jaune">
							</div>
						</div>

						<div class="carousel-item drk">
							<div class="slide5">
								<img src="/img2/AdobeStock_338193799_blanc_sur_bleu.jpg" class="d-block w-100" alt=" blanc-sur-bleu">
							</div>
						</div>

						<div class="carousel-item drk">
							<div class="slide6">
								<img src="/img2/AdobeStock_343336820_linteau_porte.jpg" class="d-block w-100" alt=" linteau">
							</div>
						</div>

						<div class="carousel-item drk">
							<div class="slide7">
								<img src="/img2/AdobeStock_344054160_escabaud.jpg" class="d-block w-100" alt="escabaud">
							</div>
						</div>
					</div>

					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
		</div>
	</div>

