{% extends 'home/home.html.twig' %}

{% block body %}
	<!-- BREADCRUMB -->
	<nav class="bg-gray-200">
		<div class="container">
			<div class="row">
				<div
					class="col-12">

					<!-- Breadcrumb -->
					<ol class="breadcrumb breadcrumb-scroll">
						<li class="breadcrumb-item">
							<a href="{{ path('home')}}" class="text-gray-700">
								Accueil
							</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							<a href="{{ path('mentions_legales')}}" class="text-gray-700">
								Mentions-Légales</a>
						</li>
					</ol>
				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</nav>

	<section class="pt-8 pt-md-11 pb-8 pb-md-14">
		<div class="container">
			<div class="row align-items-center">
				<div
					class="col-12 col-md">

					<!-- Heading -->

					<h2 class="row justify-content-center mt-5">MENTIONS LEGALES ET DONNEES PERSONNELLES</h2><br>

					<!-- Text -->
					<p class="fs-lg text-gray-700 mb-md-0 JUSTIFY-CONTENT-CENTER">
						Mis à jour 01/02/2023
					</p><br><br>

					<p style="text-align:justify">
						L’utilisation de ce service est réservée à un usage strictement personnel.
																								
																								Toute reproduction ou représentation, en tout ou partie, à d’autres fins sur un quelconque support est interdite sans l’autorisation expresse et préalable de l’entreprise
						<a href="http://www.aguadopeinture.fr" target="_blank">Aguadopeinture</a>
						et constituerait une contrefaçon au sens des articles L 335-2 et suivants du code de la propriété intellectuelle.
																								
																								Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.
																								
																								Les informations contenues dans ce service sont non contractuelles et sujettes à modification sans préavis.
																								
																								Les liens hypertextes mis en œuvre au sein du site
						<a href="http://www.aguadopeinture.fr" target="_blank">Aguadopeinture</a>
						en direction d’autres sites et d’une manière générale vers toutes ressources existantes sur internet ne sauraient engager la responsabilité de
						<a href="http://www.aguadopeinture.fr" target="_blank">Aguadopeinture</a>
						les informations suivantes :</p>

					<p style="text-align:justify">
						<strong>ÉDITEUR</strong>
					</p>
					<p style="text-align:justify">Le site
						<a href="http://www.aguadopeinture.fr" style="color: rgb(7, 130, 193); font-family: sans-serif, Arial, Verdana, " target="_blank">Aguadopeinture</a>
						est la propriété exclusive de Aguado-Peinture, qui l'édite.</p>

					<p style="text-align:justify">
						<strong>Aguado-Peinture</strong>
						SAS
																														au capital de
																														1000 €
						<br>
						Tél:
						<a href="telto:0622454562">0622454562</a>
					</p>

					<p style="text-align:justify">
						3,rue de Langeac<br/>
						75015 Paris<br/>
						Immatriculée sous le numéro de Siret
																														49784109800021
					</p>

					<p style="text-align:justify">Numéro TVA intracommunautaire:
																														FR47497841098<br/>
						Adresse de courrier électronique:
						<a href="maito:contact@aguadopeinture.fr">contact@aguadopeinture.fr</a>
					</p>
					<p style="text-align:justify">
						Directeur de la  publication:
						<strong>Alexis Blas</strong><br/>
						Contactez le responsable de la publication :
						<a href="mailto:alexis.blas@outlook.fr">Abwebdesign.fr</a>
					</p>

					<p style="text-align:justify"></p>

					<p style="text-align:justify">
						<strong>HÉBERGEMENT</strong>
					</p>
					<p style="text-align:justify">Le site est hébergé par: IONOS - 7 Place de la Gare 57200 Sarreguemines</p>
					
			<p style="text-align:justify">
				<strong>DESCRIPTION DES SERVICES FOURNIS</strong>
			</p>
			<p style="text-align:justify">Le site
				<a href="http://www.aguadopeinture.fr" style="text-align: justify;" target="_blank">Aguadopeinture</a>
				a pour objet de fournir une information concernant l’ensemble des activités de la société. Le proprietaire du site s’efforce de fournir sur le site
				<a href="http://www.aguadopeinture.fr" style="text-align: justify;" target="_blank">Aguadopeinture</a>
				des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. Tous les informations proposées sur le site
				<a href="http://www.aguadopeinture.fr" style="text-align: justify;" target="_blank">Aguadopeinture</a>
				sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.
			</p>
<br>
			<p>
				<strong>PROPRIÉTÉ INTELLECTUELLE ET CONTREFAÇONS</strong>
			</p>
			<p>Le proprietaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels… Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable à l'email :
				<a href="mailto:contact@aguadopeinture.fr">contact@aguadopeinture.fr</a>Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
			</p>
<br>
			<p>
				<strong>LIENS HYPERTEXTES ET COOKIES</strong>
			</p>
			<p>Le site
				<a href="http://www.aguadopeinture.fr" style="text-align: justify;" target="_blank">Aguadopeinture</a>
				utilise des cookies et / ou des technologies similaires pour analyser le comportement des clients, administrer le site Web, suivre les mouvements des utilisateurs et collecter des informations sur les utilisateurs. Ceci est fait afin de personnaliser et d’améliorer votre expérience avec nous.
																	
				Un cookie est un petit fichier texte stocké sur votre ordinateur. Les cookies stockent les informations utilisées pour aider à faire fonctionner les sites. Seulement nous pouvons accéder aux cookies créés par notre site Web. Vous pouvez contrôler vos cookies au niveau du navigateur. Choisir de désactiver les cookies peut vous empêcher d’utiliser certaines fonctions.
																	
				Si vous déposez un commentaire sur notre site, il vous sera proposé d’enregistrer votre nom, adresse e-mail et site dans des cookies. C’est uniquement pour votre confort afin de ne pas avoir à saisir ces informations si vous déposez un autre commentaire plus tard. Ces cookies expirent au bout d’un an.
																	
				Si vous vous rendez sur la page de connexion, un cookie temporaire sera créé afin de déterminer si votre navigateur accepte les cookies. Il ne contient pas de données personnelles et sera supprimé automatiquement à la fermeture de votre navigateur.
																	
				Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d’écran. La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran est d’un an. Si vous cochez « Se souvenir de moi », votre cookie de connexion sera conservé pendant deux semaines. Si vous vous déconnectez de votre compte, le cookie de connexion sera effacé.
																	
				En modifiant ou en publiant une publication, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne comprend aucune donnée personnelle. Il indique simplement l’ID de la publication que vous venez de modifier. Il expire au bout d’un jour.
			</p>
<br>
			<p>
				<strong>CONFIDENTIALITE - GESTION DES DONNÉES PERSONNELLES</strong>
			</p>
			<p>Conformément à la loi informatique et libertés N° 78-17 du 06 janvier 1978, vous pouvez à tout moment modifier ou supprimer les renseignements liés à votre inscription. Ces informations vous concernant étant confidentielles, l’entreprise
				<a href="http://www.aguadopeinture.fr" style="text-align: justify" get="_blank">Aguadopeinture</a>
				s’engage à les protéger.
												
				Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi « Informatique et Libertés »).
												
				Si vous souhaitez savoir comment <a href="http://www.aguadopeinture.fr" style="text-align: justify" target="_blank">Aguadopeinture</a> utilise vos Données Personnelles, demander à les rectifier ou vous opposer à leur traitement, vous pouvez contacter le chargé de la protection des données (DPO) par écrit à l’adresse suivante :
												
				Aguado-Peinture | Joseph Aguado – Direction | 4, rue de Langeac | 75015 Paris | 0622454562 | contact@aguadopeinture.fr
				Dans ce cas, vous devez indiquer les Données Personnelles que vous souhaitez que <a href="http://www.aguadopeinture.fr" style="text-align: justify" target="_blank">Aguadopeinture</a> corrige, mette à jour ou supprime, en vous identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport).
												
												Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à
				<a href="http://www.aguadopeinture.fr" style="text-align: justify;" target="_blank">Aguadopeinture</a>
				par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, vous pouvez déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (https://www.cnil.fr/fr/adresser-une-plainte).
                </p>
<br>
                <p>
				<strong>UTILISATION DES DONNEES PERSONNELLES</strong>
			    </p> 
                <p>Si vous demandez une réinitialisation de votre mot de passe, votre adresse IP sera incluse dans l’e-mail de réinitialisation.</p>
<br>
                <p>
				<strong>DUREE DE STOCKAGE DES DONNEES</strong>
			    </p> 
                <p>Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.

                Pour les comptes qui s’inscrivent sur notre site (le cas échéant), nous stockons également les données personnelles indiquées dans leur profil. Tous les comptes peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment (à l’exception de leur identifiant). Les gestionnaires du site peuvent aussi voir et modifier ces informations.

                Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.

                Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service automatisé de détection des commentaires indésirables.</p>
<br>
                <p>
				<strong>GOOGLE ANALYTICS</strong>
			    </p> 
                <p><a href="http://www.aguadopeinture.fr" style="text-align: justify" target="_blank">Aguadopeinture</a>
                utilise Google Analytics pour mesurer le trafic sur ce site Web. Google a sa propre politique de confidentialité que vous pouvez consulter. Si vous souhaitez désactiver le suivi par Google Analytics, consultez la page de désactivation de Google Analytics.</p>
<br>
                    <p>Crédits: Les mentions légales ont étés générées par
						<a href="https://www.generer-mentions-legales.com">generer-mentions-legales.com</a>
					</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
